#
# To ensure the app runs successfully in Docker,
# you will need to ensure the secrets.env file is:
#   - renamed to ".env"
#   - moved to the root directory (only way docker-compose will import it)
#

MONGO_URI=<mongodb+srv://<user>:<password>@<database>?retryWrites=true&w=majority>
DB_NAME=<database-name>
ARTICLES=<article-collection>
AUTHORS=<author-collection>
USERS=<users-collection>
COMMENTS=<comments-collection>
PORT=9000
DEV_PORT=5000
CLIENT_ORIGIN_URL=<client-origin-url>
CLIENT_ORIGIN_URL_WWW=<client-origin-url-with-www-prefix>
AUTH0_AUDIENCE=<auth0-api-identifer>
AUTH0_DOMAIN=<auth0-server-domain>
JWT_SIGNATURE_ALGORITHM=<jwt-signature-algorithm>
MGMT_API_ACCESS_TOKEN=<auth0-management-access-token> (ref: https://auth0.com/docs/tokens/management-api-access-tokens/get-management-api-access-tokens-for-testing)
SMTP_HOST=<smtp-host>
SMTP_PORT=<smtp-port>
SMTP_USER_EMAIL=<user-email>
SMTP_USER_PASSWORD=<user-password>
