MONGO_URI=<mongodb+srv://<user>:<password>@<database>?retryWrites=true&w=majority>
DB_NAME=<database-name>
ARTICLES=<article-collection>
AUTHORS=<author-collection>
USERS=<users-collection>
COMMENTS=<comments-collection>
PORT=9000
AUTH0_AUDIENCE=<auth0-api-identifer>
AUTH0_DOMAIN=<auth0-server-domain>
JWT_SIGNATURE_ALGORITHM=<jwt-signature-algorithm>
MGMT_API_ACCESS_TOKEN=<auth0-management-access-token> (ref: https://auth0.com/docs/tokens/management-api-access-tokens/get-management-api-access-tokens-for-testing)
